<% include partials/header.ejs %>

<h1 style="text-align: center"><%= page %></h1>
<h2 style="text-align: center">In the navbar click "Task list" to see your task list ;D</h2>

<% include partials/footer.ejs %>
